#recipesList {
    div {
        padding: 0;
    }

    > div {     //pierwsze dziecko

        > a {
            color: #444;
            font-size: 1.3em;
            text-align: center;

            > div {
                height: 350px;
                background-color: #eee;
                background-size: cover;
                background-position: center;
                margin: 5px;
                position: relative;

                &:hover {
                    opacity: .8;
                }

                > div {
                    background-color: rgba(white, 0.8);
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    min-height: 3em;
                    padding: 0.5em;
                }
            }
        }
    }
}
