$brand-primary: #999;
$input-border-focus:#999;
$brand-info:#999;

* {
    outline: none !important;
}

$icon-font-path: '/vendor/fonts/';
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#recipesList {
    padding: 2*$padding-base-horizontal $padding-base-horizontal;

    div {
        padding: 0;
    }

    > div {     //pierwsze dziecko

        > a {
            color: #444;
            font-size: 1.3em;
            text-align: center;

            > div {
                height: 350px;
                background-color: #eee;
                background-size: cover;
                background-position: center;
                margin: 5px;
                position: relative;

                &:hover {
                    opacity: .8;
                }

                > div {
                    background-color: rgba(white, 0.8);
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    min-height: 3em;
                    padding: 0.5em;
                }
            }
        }
    }
}

.main-avatar {
    max-width: 100px;
    border-radius: 100%;
    margin-right: 10px;
}

a {
    color: #555;

    &:hover {
        color: #555;
        text-decoration: none;
    }
}

.new-recipe-form {
    text-align: right;
}

.note-toolbar {
    i {
        color: black;
    }
}

.note-editing-area {
    img {
        max-width: 500px;
        max-height: 700px;
        display: block;
        margin: 0 auto;
    }

    .container {
        width: auto !important;
    }
}

i {
    padding-right: 0px !important;
    color: #eeeeee;
}

.glyphicon {
    padding-right: 0.5em;
}

.panel-footer {
    background-color: white;
    text-align: center;
    font-size: 11px;
    color: #888;
}

#content {
    .container {
        width: auto !important;
    }

    img {
        max-width: 500px;
        max-height: 700px;
        display: block;
        margin: 0 auto;
    }
}

#tags {
    max-width: 60%;
}
