<!-- views/home.handlebars -->
{{#if user}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Profile Information</h3>
    </div>
    <div class="panel-body">
        <button id="saveNew" class="btn btn-primary btn-lg" onclick="saveNew()" type="button">Save</button>
        <input type="text" id="newTitle" class="form-control" placeholder="Enter title" />
        <input type="text" id="newPicture" class="form-control" placeholder="Enter main picture's URI" />
        <div id="newContent" class="summernote"></div>
    </div>
  </div>

{{else}}
  <div class="jumbotron">
    <h1>Cookbook</h1>
    <p>Sign in and view your profile!</p>
    <p>
      <a href="/signin" class="btn btn-primary btn-lg" role="button">
        <span class="glyphicon glyphicon-user"></span>
        Sign in!
      </a>
    </p>
  </div>

{{/if}}

<!-- include summernote css/js-->
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>
