<!-- views/home.handlebars -->
<div class="jumbotron">
  <h1>
    <a class="header" href="/user/{{owner.username}}">
      <div>
        <img class="main-avatar"  width="90" height="90" src="/uploads/{{owner.avatar}}"/>
        {{owner.username}}'s cookbook
      </div>
    </a>
  </h1>
</div>

<!--<form enctype="multipart/form-data">-->
<!--<label for="av">Choose avatar: </label>-->
<!--<input type="file" id="av" class="form-group" name="avatar" accept="image/*">-->
<!--<button  type="submit" id="send" onclick="(function() {-->
  <!--var avatarInput = document.getElementById('av');-->
  <!--var avatarField = document.getElementById('avatar-img');-->
  <!--$.get('/settings', {avatar: newContent, id: newId, title: newTitle, lead_image_url: newPicture}, function(data, textStatus, xhr) {-->
    <!--location.href = '/';-->
  <!--});-->
<!--})()">Wyslij</button>-->
<!--<img src="" alt="" id="avatar-img" />-->
<!--</form>-->

<form id="uploadAvatar" enctype="multipart/form-data" action="/uploadAvatar" method="post">
  <div class="form-group">
    <label for="av">Choose avatar: </label>
    <input type="file" name="userPhoto" />
  </div>
  <div class="form-group">
  <button type="submit" class="btn btn-primary" value="Upload image" name="submitAvatar">Submit picture</button>
  </div>
</form>

<form id="updatePassword" onsubmit="return validatePassword()" action="/updatePassword" method="post">
  <div class="form-group">
    <label for="av">Change password: </label>
    <input type="password" class="form-control" name="newPassword1" id="newPassword1" placeholder="New password"/>
  </div>
    <div class="form-group">
    <input type="password" class="form-control" name="newPassword2" id="newPassword2" placeholder="Repeat new password"/>
      <span id="helpBlock" class="help-block hidden">The passwords do not match!</span>
  </div>
  <button type="submit" class="btn btn-primary" value="Upload image" name="submitAvatar">Submit new password</button>
</form>
