<!-- views/settings.handlebars -->
{{#if owner}}
<div class="jumbotron">
  <h1>
    <a class="header" href="/user/{{owner.username}}">
      <div>
        <img class="main-avatar"  width="90" height="90" src="{{owner.avatar}}"/>
        <strong>{{owner.username}}'s cookbook</strong>
      </div>
    </a>
  </h1>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Settings</h3>
  </div>
<div class="panel-body">
<form id="uploadAvatar" enctype="multipart/form-data" action="/uploadAvatar" method="post">
  <div class="form-group">
    <label for="av">Choose avatar (make sure it's square!): </label>
    <input type="file" name="userPhoto" />
  </div>
  <div class="form-group">
  <button type="submit" class="btn btn-primary" value="Upload image" name="submitAvatar">Submit picture</button>
  </div>
</form>
<form id="updatePassword" onsubmit="return validatePassword()" action="/updatePassword" method="post" style="margin-top: 30px;">
  <div class="form-group" style="max-width: 300px;">
    <label for="av">Change password: </label>
    <input type="password" class="form-control" name="newPassword1" id="newPassword1" placeholder="New password"/>
  </div>
    <div class="form-group" style="max-width: 300px;">
    <input type="password" class="form-control" name="newPassword2" id="newPassword2" placeholder="Repeat new password"/>
      <span id="helpBlock" class="help-block hidden">The passwords do not match!</span>
  </div>
  <div class="form-group">
  <button type="submit" class="btn btn-primary" value="Upload image" name="submitAvatar">Submit new password</button>
  </div>
</form>
</div>
</div>
{{else}}
  <div class="jumbotron" style="text-align: center">
    <h1>Welcome to your cookbook</h1>
    <p>Sign in to view your profile!</p>
    <p>
      <a href="/signin" class="btn btn-default btn-lg" role="button">
        <span class="glyphicon glyphicon-user"></span>
        Go to the login page
      </a>
    </p>
  </div>
{{/if}}
