<!-- views/signin.handlebars -->
<div class="jumbotron">
  <h1>Welcome to your cookbook</h1>
  <p>
    <a data-toggle="collapse" href="#local-sign-in" class="btn btn-warning btn-lg" role="button"><span
      class="glyphicon glyphicon-user"></span> Sign in</a>
    <a data-toggle="collapse" href="#local-reg" class="btn btn-warning btn-lg" role="button"><span
      class="glyphicon glyphicon-plus"></span> Sign up</a>
  </p>

  <form id="local-sign-in" class="collapse form-horizontal" action="/login" method="post">
    <div class="form-group">
      <label for="username" class="col-sm-2 control-label">Username</label>
      <div class="col-sm-5">
        <input type="text" id="username" name="username" class="form-control" placeholder="Enter username"/>
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-5">
        <input type="password" id="password" name="password" class="form-control" placeholder="Enter password"/>
      </div>
    </div>
    <div>
      <input type="submit" class="btn btn-primary btn-sm pull-right" value="Log in"/>
    </div>
  </form>

  <form id="local-reg" class="collapse form-horizontal" action="/local-reg" method="post">
    <div class="form-group">
      <label for="new-username" class="col-sm-2 control-label">New username</label>
      <div class="col-sm-5">
        <input type="text" id="new-username" name="username" class="form-control" placeholder="Enter username"/>
      </div>
    </div>
    <div class="form-group">
      <label for="new-password" class="col-sm-2 control-label">New password</label>
      <div class="col-sm-5">
        <input type="password" id="new-password" name="password" class="form-control" placeholder="Enter password"/>
      </div>
    </div>
    <div>
      <input type="submit" class="btn btn-primary btn-sm pull-right" value="Register"/>
    </div>
  </form>
</div>
